.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  /* transform: translate(-50%, -50%); */
  color: white;
}
body {
  background-image: url(pizza.jpg alt="PIZZA BANNER");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.showMenu{
  display: none;
    background-image: url("../img/bgbody.jpg");  background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}
#result , #addPizza {
  display: none
}
#result2, #order2 , #address, #addressShow{
  display: none
}
#address, #addressShow {
  display: none
}
.click {
  color: blue
}
.deliver {
  display: none
}
